main {
    height: auto;
    width: 100%;
}

#services,
#pricing,
#projects,
#contact {
    background-color: $tertiary-color;
    @include flex(column, center, center);
    padding: $section-padding;

    article {
        @include flex(column, center, center);
        background-color: $secondary-color;
        padding: $section-padding;
        width: 100%;
    }
}

#services {
    article {
        #services-desc {
            @include flex(column, center, center);
            width: 40%;
            margin-bottom: $large-spacing;
        }

        #services-listed {
            @include flex(row, space-between, center, wrap);
            width: 100%;
            min-height: 500px;

            .services-listed__card {
                @include flex(column, center, center);
                max-width: 350px;
                @extend %w-h-100;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                img {
                    @extend %w-h-100;
                    max-width: 50px;
                    max-height: 50px;
                }

                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        &:hover {
                            transform: scale(1.1);
                            border: 1px solid $primary-color;
                            border-radius: 5px;
                        }
                    }
                }

                @for $i from 4 through 6 {
                    &:nth-child(#{$i}) {
                        &:hover {
                            transform: scale(1.1);
                            border: 1px solid $quaternary-color;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

/*VIDEO*/

#video {
    width: 100%;
    height: 500px;
    @include background('../images/video.png');

    div {

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
}

/*------------------------------*/

#video,
#blog {
    div {
        @extend %w-h-100;
        background-color: transparentize($quaternary-color, 0.1);
        position: relative;
        padding: $small-spacing;
    }
}

/*PRICING*/

#pricing {
    article {
        #price-list {
            @include flex(row, center, center, wrap);
            gap: $large-spacing;
            margin-top: 2em;
            width: 100%;
            min-height: 500px;

            .price-list-card {
                @include flex(column, center, center);
                max-width: 250px;
                @extend %w-h-100;
                border: 1px solid $tertiary-color;
                transition: all 0.3s ease-in-out;

                &:hover {
                    border: 1px solid $primary-color;
                    transform: scale(1.1);

                    & .price-list-card__cost {
                        background-color: $primary-color;

                        h4 {
                            color: $second-text-color;
                        }
                    }
                }

                .price-list-card__title {

                    h3 {
                        padding-top: $large-spacing;
                    }
                }

                .price-list-card__cost {
                    padding: $base-spacing;
                    margin: $large-spacing 0;
                    background-color: $tertiary-color;
                    @extend %w-h-100;
                    text-align: center;
                    transition: all 0.3s ease-in-out;

                    h4 {
                        @include font(1.5rem, 400);

                        span {
                            @include font(3rem, 700);
                        }
                    }
                }

                .price-list-card__infos {
                    @include flex(column, center, center);
                    margin-bottom: $large-spacing;
                    @extend %w-h-100;

                    ul {
                        @include flex(column, center, center, wrap);
                        list-style: none;

                        li {
                            @include font(1rem, 400);
                            margin-bottom: $small-spacing;
                        }
                    }

                    a {
                        @include btn($primary-color, $primary-color);
                        margin-top: $large-spacing;
                    }
                }
            }
        }
    }
}

/*------------------------------*/



/*BLOG*/

#blog {
    width: 100%;
    height: 500px;
    @include background('../images/sep_back.png');
    @include flex(column, center, center);

    div {
        @include flex(column, center, center);

        h2 {
            color: $second-text-color;
            text-align: center;
        }

        h3 {
            color: $second-text-color;
            text-align: center;
            @include font(1.5rem, lighter);
        }

        a {
            @include btn($secondary-color, $secondary-color);
            margin-top: $large-spacing;
        }
    }
}

/*------------------------------*/



/*PROJECTS*/

#projects {
    article {
        ul {
            list-style: none;
            @include flex(row, center, center, wrap);
            gap: $small-spacing;
            margin: 3em 0;

            li {
                padding: 0 12px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover,
                &:first-child {
                    transform: scale(1.1);
                    background-color: $primary-color;
                    color: $second-text-color;
                    border-radius: 5px;
                }
            }
        }

        #projects-list {
            @include flex(row, center, center, wrap);
            gap: $large-spacing;
            width: 100%;

            img {
                @extend %w-h-100;
                max-width: 350px;
                max-height: 350px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

}

/*------------------------------*/



/*REVIEW & SUBSCRIBE*/

#review-sub {
    @include flex(row, center, stretch, wrap);
    z-index: -1;

    h2 {
        color: $second-text-color;
        text-align: center;
        margin: 10px 0;
    }

    h2,
    p,
    form,
    img,
    ul {
        z-index: 2;
    }

    #review {
        @include flex(column, center, center);
        flex: 1;
        padding: $section-padding;
        @include background('../images/customer_back.png');
        @extend %w-h-100;
        position: relative;
        height: auto;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparentize($primary-color, 0.1);
        }

        p {
            color: $second-text-color;
            text-align: center;
            @include font($text-size, lighter);
            margin-bottom: $base-spacing;
        }

        .dots {
            position: absolute;
            bottom: 5%;
            right: 50%;
            transform: translateX(50%);
            height: auto;
            @include flex(row, space-evenly, center, nowrap);
            gap: 0.5rem;
            padding: 1rem;

            li {
                list-style: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid $second-text-color;
                background-color: $second-text-color;

                &:nth-child(2) {
                    background-color: transparentize($quaternary-color, 0.1);
                    border: 2px solid transparentize($quaternary-color, 0.1);
                }
            }
        }
    }

    #subscribe {
        @include flex(column, center, center);
        @extend %w-h-100;
        height: auto;
        flex: 1;
        padding: $section-padding;
        @include background('../images/suscribe_back.png');
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparentize($quaternary-color, 0.1);
        }

        form {
            @include flex(column, center, center);
            width: 100%;

            input {
                &:first-child {
                    width: 50%;
                    padding: $base-spacing;
                    margin-bottom: $base-spacing;
                    border: 1px solid $second-text-color;
                    border-radius: 5px;
                    @include font($text-size, lighter);
                }

                &:last-child {
                    @include btn($primary-color, $primary-color, 5px);
                    margin-top: $large-spacing;
                }
            }
        }
    }
}

/*------------------------------*/



/*CONTACT*/

#contact {
    article {
        p {
            width: 45%;
        }

        form {
            @include flex(row, space-between, center);
            gap: $large-spacing;
            width: 100%;
            margin-top: $large-spacing;

            input:not([type="submit"]) {
                flex: 1 0 45%;
                padding: $base-spacing;
            }

            textarea {
                flex: 1 0 100%;
                padding: $base-spacing;
                resize: none;
            }

            input:not([type="submit"]),
            textarea {
                border: 1px solid $quaternary-color;
                border-radius: 5px;
                @include font($text-size, lighter);
            }

            input[type="submit"] {
                @include btn($primary-color, $primary-color);
                flex: 0 0 20%;
                padding: $base-spacing;
                margin: auto;
            }
        }
    }
}

/*------------------------------*/




/*-------PARTIE RESPONSIVE (MOBILE)-------*/

/*GENERAL*/
@media screen and (max-width: 768px) {
    section:not(#video, #blog, #review-sub), article {
        padding: 15px !important;
    }

    section {
        h2 {
            text-align: center;
        }
    }

    #review-sub {
        img {
            margin-bottom: 50px;
        }
    }
}