main {
    height: auto;
    width: 100%;
}

#services {
    background-color: $tertiary-color;
    @include flex(column, center, center);
    padding: 5rem 4rem;

    article {
        @include flex(column, center, center);
        background-color: $secondary-color;
        padding: 5rem 4rem;
        border-radius: 25px;

        #services-desc {
            @include flex(column, center, center);
            width: 40%;
            margin-bottom: $large-spacing;
        }

        #services-listed {
            @include flex(row, space-between, center, wrap);
            width: 100%;
            min-height: 500px;

            .services-listed--card {
                @include flex(column, center, stretch);
                max-width: 350px;
                width: 100%;
                height: 100%;
            }
        }
    }
}