@mixin flex($direction, $justify, $align, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin animate($property, $duration, $timing-function: ease) {
    transition: $property $duration $timing-function;
}

@mixin btn($color, $border-color, $border-radius: 10px) {
    text-transform: uppercase;
    text-decoration: none;
    color: $color;
    
    border: 2px solid $border-color;
    border-radius: $border-radius;
    
    @include animate(all, 0.3s);

    @if $color == $primary-color {
        padding: 5px 35px;
        font-size: 1.2rem;
        background-color: $primary-color;
        color: $second-text-color;
    } @else {
        padding: 15px 35px;
        font-size: $text-size;
    }

    &:hover {
        @if $color == $primary-color {
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $secondary-color;
        } @else {
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $secondary-color;
        }
    }
}

@mixin font($font-size, $font-weight: 400, $font-family: $main-font) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
}

@mixin background($image, $position: center, $size: cover, $repeat: no-repeat) {
    background-image: url($image);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}