@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*VARIABLES*/
/*--------------------*/
/*HÉRITAGES*/
#review-sub #subscribe, #review-sub #review, #projects article #projects-list img, #pricing article #price-list .price-list-card .price-list-card__infos, #pricing article #price-list .price-list-card .price-list-card__cost, #pricing article #price-list .price-list-card, #video div,
#blog div, #services article #services-listed .services-listed__card img, #services article #services-listed .services-listed__card {
  width: 100%;
  height: 100%;
}

/*--------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

p {
  font-size: 14px;
  text-align: center;
}

h2 {
  font-size: 35px;
  color: #ed4f2e;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3 {
  text-align: center;
  color: #1f2c33;
  text-transform: uppercase;
}

.line {
  width: 100px;
  height: 1px;
  background-color: #9f9f9f;
  margin: 2em 0;
  position: relative;
}
.line::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #9f9f9f;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -50%);
}
.line::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #9f9f9f;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../images/Header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(237, 79, 46, 0.9);
}
header * {
  color: #ffffff;
  z-index: 2;
  text-align: center;
}
header h1 {
  font-size: 35px;
  font-weight: 700;
  width: 70%;
}
header p {
  font-size: 14px;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 15px 35px;
  font-size: 14px;
}
header a:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #1f2c33;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #ed4f2e;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1f2c33;
  width: 100%;
}
footer p,
footer li {
  color: #b8b8b8;
}
footer #footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  padding: 2em;
}
footer #footer-top .footer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 25%;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 2em;
}
footer #footer-top .footer-card > img {
  margin: 0 0 1em 0;
}
footer #footer-top .footer-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
  color: #ebebeb;
}
footer #footer-top .footer-card p {
  text-align: justify;
}
footer #footer-top .footer-card ul {
  list-style: none;
}
footer #footer-top .footer-card .footer-card__contact {
  margin-top: 0.5em;
}
footer #footer-top .footer-card .footer-card__gallery {
  margin-top: 0.5em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;
}
footer #footer-top .footer-card .footer-card__gallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer #footer-top .footer-card .footer-card__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
footer #footer-top .footer-card .footer-card__social li a {
  text-decoration: none;
  color: #ebebeb;
  transition: all 0.3s ease;
}
footer #footer-top .footer-card .footer-card__social li a:hover {
  color: #ed4f2e;
}
footer #footer-top .footer-card .footer-card__social li a i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
footer #footer-top .footer-card form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 1em 0;
}
footer #footer-top .footer-card form input {
  padding: 1em;
}
footer #footer-top .footer-card form input[type=email] {
  width: 60%;
  flex: 1 0 60%;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  background-color: rgba(135, 135, 135, 0.25);
  color: #ffffff;
}
footer #footer-top .footer-card form input[type=submit] {
  width: 40%;
  flex: 1 0 40%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ed4f2e;
  border: 2px solid #ed4f2e;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  padding: 5px 35px;
  font-size: 1.2rem;
  background-color: #ed4f2e;
  color: #ffffff;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  padding: 5px !important;
}
footer #footer-top .footer-card form input[type=submit]:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}
footer #footer-down {
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #293a43;
}
footer #footer-down p {
  color: #ebebeb;
}

/*------------------------------------*/
main {
  height: auto;
  width: 100%;
}

#services,
#pricing,
#projects,
#contact {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 4rem;
}
#services article,
#pricing article,
#projects article,
#contact article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 5rem 4rem;
  width: 100%;
}

#services article #services-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 2em;
}
#services article #services-listed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
}
#services article #services-listed .services-listed__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#services article #services-listed .services-listed__card img {
  max-width: 50px;
  max-height: 50px;
}
#services article #services-listed .services-listed__card:hover {
  transform: scale(1.1);
}

/*VIDEO*/
#video {
  width: 100%;
  height: 500px;
  background-image: url("../images/video.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#video div svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/*------------------------------*/
#video div,
#blog div {
  background-color: rgba(31, 44, 51, 0.9);
  position: relative;
}

/*PRICING*/
#pricing article #price-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 2em;
  width: 100%;
  min-height: 500px;
}
#pricing article #price-list .price-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease-in-out;
}
#pricing article #price-list .price-list-card:hover {
  border: 1px solid #ed4f2e;
}
#pricing article #price-list .price-list-card .price-list-card__title h3 {
  padding-top: 2em;
}
#pricing article #price-list .price-list-card .price-list-card__cost {
  padding: 1em;
  margin: 2em 0;
  background-color: #ebebeb;
  text-align: center;
}
#pricing article #price-list .price-list-card .price-list-card__cost h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
#pricing article #price-list .price-list-card .price-list-card__cost h4 span {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
#pricing article #price-list .price-list-card .price-list-card__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
#pricing article #price-list .price-list-card .price-list-card__infos ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
#pricing article #price-list .price-list-card .price-list-card__infos ul li {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5em;
}
#pricing article #price-list .price-list-card .price-list-card__infos a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ed4f2e;
  border: 2px solid #ed4f2e;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 5px 35px;
  font-size: 1.2rem;
  background-color: #ed4f2e;
  color: #ffffff;
  margin-top: 2em;
}
#pricing article #price-list .price-list-card .price-list-card__infos a:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}

/*------------------------------*/
/*BLOG*/
#blog {
  width: 100%;
  height: 500px;
  background-image: url("../images/sep_back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#blog div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#blog div h2 {
  color: #ffffff;
  text-align: center;
}
#blog div h3 {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
#blog div a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 15px 35px;
  font-size: 14px;
  margin-top: 2em;
}
#blog div a:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}

/*------------------------------*/
/*PROJECTS*/
#projects article ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 3em 0;
}
#projects article ul li {
  padding: 0 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#projects article ul li:hover, #projects article ul li:first-child {
  transform: scale(1.1);
  background-color: #ed4f2e;
  color: #ffffff;
  border-radius: 5px;
}
#projects article #projects-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
}
#projects article #projects-list img {
  max-width: 350px;
  max-height: 350px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#projects article #projects-list img:hover {
  transform: scale(1.1);
}

/*------------------------------*/
/*REVIEW & SUBSCRIBE*/
#review-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: -1;
}
#review-sub h2 {
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
}
#review-sub h2,
#review-sub p,
#review-sub form,
#review-sub img,
#review-sub ul {
  z-index: 2;
}
#review-sub #review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 5rem 4rem;
  background-image: url("../images/customer_back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#review-sub #review::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(237, 79, 46, 0.9);
}
#review-sub #review p {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
}
#review-sub #review .dots {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 1rem;
}
#review-sub #review .dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
#review-sub #review .dots li:nth-child(2) {
  background-color: rgba(31, 44, 51, 0.9);
  border: 2px solid rgba(31, 44, 51, 0.9);
}
#review-sub #subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 5rem 4rem;
  background-image: url("../images/suscribe_back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#review-sub #subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(31, 44, 51, 0.9);
}
#review-sub #subscribe form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#review-sub #subscribe form input:first-child {
  width: 50%;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
#review-sub #subscribe form input:last-child {
  text-transform: uppercase;
  text-decoration: none;
  color: #ed4f2e;
  border: 2px solid #ed4f2e;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 35px;
  font-size: 1.2rem;
  background-color: #ed4f2e;
  color: #ffffff;
  margin-top: 2em;
}
#review-sub #subscribe form input:last-child:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}

/*------------------------------*/
/*CONTACT*/
#contact article p {
  width: 45%;
}
#contact article form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  margin-top: 2em;
}
#contact article form input:not([type=submit]) {
  flex: 1 0 45%;
  padding: 1em;
}
#contact article form textarea {
  flex: 1 0 100%;
  padding: 1em;
  resize: none;
}
#contact article form input:not([type=submit]),
#contact article form textarea {
  border: 1px solid #1f2c33;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
#contact article form input[type=submit] {
  text-transform: uppercase;
  text-decoration: none;
  color: #ed4f2e;
  border: 2px solid #ed4f2e;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 5px 35px;
  font-size: 1.2rem;
  background-color: #ed4f2e;
  color: #ffffff;
  flex: 0 0 20%;
  padding: 1em;
  margin: auto;
}
#contact article form input[type=submit]:hover {
  background-color: #ffffff;
  color: #ed4f2e;
  border-color: #ffffff;
}

/*------------------------------*/

/*# sourceMappingURL=style.css.map */
